<md-content>
    <h3>Name: {{userService.user.firstName}} {{userService.user.lastName}}</h3>
    <ul>
        <li> username: {{userService.user.username}} </li>
        <li> email: {{userService.user.email}} </li>
        <li> 
        <li>OAuth Account(s):
                <ul>
                    <li>
                        facebook id: {{userService.user.facebookId}}
                    </li>
                    <li>
                        google id: {{userService.user.googleId}}
                    </li>
                </ul>
        </li>
        </li>
        
    </ul>

</md-content>